{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h2>Create New Quotation</h2>
     <a href="{% url 'create_customer' %}" class="btn btn-secondary mb-3">➕ Add New Customer</a>

    <form method="post">
        {% csrf_token %}
        <div class="row">
            {% for field in form %}
            <div class="col-md-6 mb-3">
                <label>{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                <div class="text-danger">{{ field.errors }}</div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-success">Submit Quotation</button>
    </form>
</div>
{% endblock %}
